.flags{
    padding: 40px;
    display: flex;
    align-items: center;
}
.german{
    margin-right: 15px;
}
.france{
    margin-left: 15px;
}
.matches{
    width: 312px;
    height: 242px;
    border: 2px solid rgb(167, 166, 166);
    margin: 50px;
    /* display: grid;
    justify-content: center; */
}
.match-details{
    text-align: center;
    margin-top: -40px;
    padding-bottom: 20px;
}
.icons{
    margin-top: 40px;
    font-size: 40px;
    padding-bottom: 40px;
}
.icons i{
    margin-right: 40px;
}

